[Desktop Entry]
Version=1.0
Name=Local West-life portal in Firefox
GenericName=Web Browser
Comment=Browse the west-life portal
Exec=firefox http://localhost
Icon=firefox
Terminal=false
Type=Application
StartupNotify=true
Categories=West-life;
X-Desktop-File-Install-Version=0.22
