[Desktop Entry]
Version=1.0
Name=West-life portal in Firefox
GenericName=Web Browser
Comment=Browse the west-life portal
Exec=firefox https://portal.west-life.eu
Icon=firefox
Terminal=false
Type=Application
StartupNotify=true
Categories=West-life;
X-Desktop-File-Install-Version=0.22
