nav {
    float:right!important;
    border-radius:8px!important;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav a:link,
  nav a:visited {
    color: #f0f0f0;
    text-decoration: none;
  }

  nav li li a:link,
  nav li li a:visited {
    color: #303030;
    text-decoration: none;
    padding: 6px 8px;
  }

  nav a {
    display: block;

  }

  nav li {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    float: left;
    background-color: #393b3e;
    color:#f0f0f0 !important;
    margin-right: 0px;
    position: relative;
    padding: 0.9em;
  }

  nav li li{
    width: 160px;
    z-index:4;
    background-color:#f0f0f0;
    padding: 0;
  }

  nav li:hover {
    background-color: #55afff;
  }
  nav li li:hover {
    background-color: #757575;
  }


  nav ul ul  {
    position: absolute;
    visibility: hidden;
  }

  nav ul ul ul{
    position: absolute;
    right: 100%;
    top: -2px;
    border: solid 1px transparent;
  }

  nav li:hover > ul {
    visibility: visible;
  }

  body {
    line-height: 1.5;
    font-size:15px;
    margin:0;
  }

  .vf-black {
    color:#fff!important;
    background-color:#000!important;
  }
  .vf-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
  .vf-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}.w3-closebtn{text-decoration:none;float:right;font-size:24px;font-weight:bold;color:inherit}
  .vf-sand{color:#000!important;background-color:#fdf5e6!important}
  .vf-card-2{}
  .vf-white{color:#000!important;background-color:#fff!important}
  .vf-right-border{
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }

.aurelia-hide-remove {
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

.aurelia-hide-add {
  -webkit-animation: fadeOut 2s;
  animation: fadeOut 2s;
}

.aurelia-hide-enter {
  animation: fadeOut 2s;
}
.aurelia-hide-leave {
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

.au-leave-active {
  -webkit-animation: fadeIn 2s;
  animation: fadeOut 2s;
}
.animation-enter-active {
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

.aurelia-enter-active {
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

.au-enter-active {
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

/* CSS3-Animations */
@-webkit-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
