<template>
  <li class="nav-item active">
    <a href="https://about.west-life.eu/network/west-life/west-life">Home</a>
  </li>
  <li class="nav-item">
    <a href="https://about.west-life.eu/network/west-life/services">Services</a>
    <ul>
      <li class="nav-item">
        <a href="https://portal.west-life.eu/virtualfolder/">Data Access</a>
      </li>
      <li class="nav-item">
        <a href="https://about.west-life.eu/network/west-life/bioinformatic-tools">Bioinformatics Tools</a>
      </li>
      <li class="nav-item">
        <a href="https://about.west-life.eu/network/west-life/integrative-modelling">Integrative Modelling</a>
      </li>
      <li class="nav-item">
        <a href="https://about.west-life.eu/network/west-life/services/mx">Crystallography</a>
      </li>
      <li class="nav-item">
        <a href="https://about.west-life.eu/network/west-life/services/em">Electron Microscopy</a>
      </li>
      <li class="nav-item">
        <a href="https://about.west-life.eu/network/west-life/services/nmr">NMR</a>
      </li>
      <li class="nav-item">
        <a href="https://about.west-life.eu/network/west-life/services/vm">Virtual Machines</a>
      </li>
      <li class="nav-item">
        <a href="https://about.west-life.eu/network/west-life/services/3rd-party-services">3rd Party Services</a>
      </li>
      <li class="nav-item">
        <a href="https://about.west-life.eu/network/west-life/toolbox">Search Services</a>
      </li>
    </ul>
  </li>
  <li class="nav-item">
    <a href="https://about.west-life.eu/network/west-life/search-support">Support</a>
    <ul>
      <li class="nav-item">
        <a href="https://about.west-life.eu/network/west-life/documentation/integrative-modelling">Integrative
          Modelling</a>
        <ul>
          <li class="nav-item">
            <a href="https://about.west-life.eu/network/west-life/documentation/wenmr/haddock">HADDOCK</a>
            <ul>
              <li class="nav-item">
                <a
                  href="https://about.west-life.eu/network/west-life/documentation/wenmr/haddock/haddock--supported-co-factors-and-modified-amino-acids">HADDOCK
                  – supported co-factors and modified amino acids</a>
              </li>
              <li class="nav-item">
                <a
                  href="https://about.west-life.eu/network/west-life/documentation/wenmr/haddock/haddock-22--default-settings">HADDOCK
                  2.2 – Default settings</a>
              </li>
              <li class="nav-item">
                <a href="https://about.west-life.eu/network/west-life/documentation/wenmr/haddock/haddock--review">HADDOCK
                  - Review</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="https://about.west-life.eu/network/west-life/documentation/wenmr/disvis">DISVIS</a>
          </li>
          <li class="nav-item">
            <a href="http://ask.bioexcel.eu/c/powerfit">PowerFit</a>
          </li>
          <li class="nav-item">
            <a href="https://about.west-life.eu/network/west-life/documentation/pdbe">PDBe</a>
            <ul>
              <li class="nav-item">
                <a href="https://about.west-life.eu/network/west-life/documentation/pdbe/pdbe-rest-api">PDBe REST
                  API</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="https://about.west-life.eu/network/west-life/documentation/crystallography">Crystallography</a>
        <ul>
          <li class="nav-item">
            <a href="https://about.west-life.eu/network/west-life/documentation/ccp4">CCP4</a>
            <ul>
              <li class="nav-item">
                <a href="https://about.west-life.eu/network/west-life/documentation/ccp4/ccp4-online">CCP4-Online</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="https://about.west-life.eu/network/west-life/documentation/xia2-workflow">XIA2 Workflow</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="https://about.west-life.eu/network/west-life/documentation/electron-microscopy">Electron Microscopy</a>
        <ul>
          <li class="nav-item">
            <a href="https://about.west-life.eu/network/west-life/documentation/scipion-web-tools">Scipion Web Tools</a>
            <ul>
              <li class="nav-item">
                <a
                  href="https://about.west-life.eu/network/west-life/documentation/scipion-web-tools/my-movie-alignment">My
                  Movie Alignment</a>
              </li>
              <li class="nav-item">
                <a href="https://about.west-life.eu/network/west-life/documentation/scipion-web-tools/my-first-map">My
                  First Map</a>
              </li>
              <li class="nav-item">
                <a href="https://about.west-life.eu/network/west-life/documentation/scipion-web-tools/my-res-map">My Res
                  Map</a>
              </li>
              <li class="nav-item">
                <a
                  href="https://about.west-life.eu/network/west-life/documentation/scipion-web-tools/my-reliability-tool">My
                  Reliability Tool</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="https://about.west-life.eu/network/west-life/documentation/ccp-em">CCP4-EM</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="https://about.west-life.eu/network/west-life/documentation/NMR">NMR</a>
        <ul>
          <li class="nav-item">
            <a href="https://about.west-life.eu/network/west-life/documentation/wenmr">WeNMR</a>
            <ul>
              <li class="nav-item">
                <a href="https://about.west-life.eu/network/west-life/documentation/wenmr/gromacs">GROMACS</a>
              </li>
              <li class="nav-item">
                <a href="https://about.west-life.eu/network/west-life/documentation/wenmr/cs-rosetta3">CS-Rosetta3</a>
              </li>
              <li class="nav-item">
                <a href="https://about.west-life.eu/network/west-life/documentation/wenmr/unio">UNIO</a>
              </li>
              <li class="nav-item">
                <a href="https://about.west-life.eu/network/west-life/documentation/wenmr/xplor-nih">XPLOR-NIH</a>
              </li>
              <li class="nav-item">
                <a href="https://about.west-life.eu/network/west-life/documentation/wenmr/anisofit">ANISOFIT</a>
              </li>
              <li class="nav-item">
                <a href="https://about.west-life.eu/network/west-life/documentation/wenmr/fanten">FANTEN</a>
              </li>
              <li class="nav-item">
                <a href="https://about.west-life.eu/network/west-life/documentation/wenmr/amber">AMBER</a>
              </li>
              <li class="nav-item">
                <a href="https://about.west-life.eu/network/west-life/documentation/wenmr/antechamber">ANTECHAMBER</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="https://h2020-westlife-eu.gitbooks.io/virtual-folder-docs">West-Life Virtual Machine</a>
      </li>
      <li class="nav-item">
        <a href="https://about.west-life.eu/network/west-life/documentation/aria-login">Logging in with ARIA</a>
      </li>
      <li class="nav-item">
        <a href="https://about.west-life.eu/network/west-life/documentation/egi-platforms">EGI Platforms</a>
        <ul>
          <li class="nav-item">
            <a href="https://about.west-life.eu/network/west-life/documentation/egi-platforms/htc-platform">HTC
              Platform</a>
            <ul>
              <li class="nav-item">
                <a
                  href="https://about.west-life.eu/network/west-life/documentation/egi-platforms/registering-with-enmreu-vo">Registration
                  with ENMR.EU VO</a>
              </li>
              <li class="nav-item">
                <a
                  href="https://about.west-life.eu/network/west-life/documentation/egi-platforms/vo-registration-troubleshooting">VO
                  registration troubleshooting</a>
              </li>
              <li class="nav-item">
                <a href="https://github.com/DIRACGrid/DIRAC/wiki/DIRAC-Tutorials">Job submission using DIRAC system</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="https://about.west-life.eu/network/west-life/documentation/egi-platforms/federated-cloud">Federated
              Cloud</a>
          </li>
          <li class="nav-item">
            <a
              href="https://about.west-life.eu/network/west-life/documentation/egi-platforms/accelerated-computing-platforms">Accelerated
              Computing Platforms</a>
            <ul>
              <li class="nav-item">
                <a href="https://about.west-life.eu/network/west-life/htc-ac">HTC-AC</a>
              </li>
              <li class="nav-item">
                <a href="https://about.west-life.eu/network/west-life/cloud-ac">Cloud-AC</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="https://about.west-life.eu/network/west-life/documentation/egi-platforms/onedata-storage">Onedata
              Storage</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="https://about.west-life.eu/network/west-life/support/tutorials">Tutorials</a>
      </li>
      <li class="nav-item">
        <a href="https://about.west-life.eu/network/west-life/support/webinars">Webinars</a>
      </li>
      <li class="nav-item">
        <a href="https://about.west-life.eu/network/west-life/forums">Forums</a>
        <ul>
          <li class="nav-item">
            <a href="https://www.structuralbiology.eu/forums/category/55?t=westlife">West-Life Forum</a>
          </li>
          <li class="nav-item">
            <a href="http://ask.bioexcel.eu/c/haddock">Haddock</a>
          </li>
          <li class="nav-item">
            <a href="http://ask.bioexcel.eu/c/disvis">DisVis</a>
          </li>
          <li class="nav-item">
            <a href="http://ask.bioexcel.eu/c/powerfit">PowerFit</a>
          </li>
          <li class="nav-item">
            <a href="https://sourceforge.net/p/scipion/mailman/scipion-users/">Scipion</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="nav-item">
    <a href="https://about.west-life.eu/network/west-life/news">News</a>
  </li>
  <li class="nav-item">
    <a href="#x">About</a>
    <ul>
      <li class="nav-item">
        <a href="https://about.west-life.eu/network/west-life/about/project">Project</a>
      </li>
      <li class="nav-item">
        <a href="https://about.west-life.eu/network/west-life/about/partners">Partners</a>
      </li>
      <li class="nav-item">
        <a href="https://about.west-life.eu/network/west-life/about/advisoryboard">Advisory Board</a>
      </li>
      <li class="nav-item">
        <a href="https://about.west-life.eu/network/west-life/about/work-packages">Work Packages</a>
      </li>
      <li class="nav-item">
        <a href="https://about.west-life.eu/network/west-life/about/work-packages/deliverables">Deliverables</a>
      </li>
      <li class="nav-item">
        <a href="https://about.west-life.eu/network/west-life/about/work-packages/milestones">Milestones</a>
      </li>
      <li class="nav-item">
        <a href="http://internal-wiki.west-life.eu/">Internal Wiki</a>
      </li>
      <li class="nav-item">
        <a href="https://about.west-life.eu/network/west-life/outreach">Publicity</a>
        <ul>
          <li class="nav-item">
            <a href="https://about.west-life.eu/network/west-life/outreach/Publications">Publications</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="http://internal-wiki.west-life.eu/images/e/e0/WestLife-Flyer-WC-Final.pdf">Flyer</a>
      </li>
    </ul>
  </li>
  <li class="nav-item">
    <a href="https://about.west-life.eu/network/west-life/cloud">Cloud</a>
  </li>
  <li class="nav-item">
    <a href="https://about.west-life.eu/network/west-life/developer-help">Developers</a>
  </li>
  <li class="nav-item">
    <a href="https://about.west-life.eu/network/west-life/contact">Contact</a>
  </li>
  <li class="nav-item">
    <a href="https://about.west-life.eu/network/west-life/introduction">Introduction</a>
  </li>
</template>
