<template bindable="router">
  <require from="./heads.css"></require>
  <require from="./instructmenu.html"></require>
  <require from="./instructmenu.html"></require>
  <div class="vf-white">
    <a href="/">
      <picture>

        <img class="logo" style="height:60px" src="../img/westlife-logo.png" alt="brand logo">
      </picture>
    </a>

    <nav class="vf-white">
      <ul>
        <li class="nav-item"><a href="#/">Virtual Folder</a>
          <ul show.bind="showuserinfo">
            <li repeat.for="item of navs" class="nav-item"><a href.bind="item.href">${item.title}</a></li>
            <li class="nav-item"><a href.bind="userinfo.AccountLink">'${userinfo.name}' account</a></li>
            <li class="nav-item"><a href.bind="userinfo.LogoutLink">Logout</a></li>
            <li class="nav-item"><a href="https://h2020-westlife-eu.gitbook.io/virtual-folder-docs/virtual-folder/users-guide" target="_blank">Documentation-User's Guide</a></li>
          </ul>
          <ul show.bind="!showuserinfo">
            <li class="nav-item"><a href="/login">Login</a></li>
            <li class="nav-item"><a href="https://h2020-westlife-eu.gitbook.io/virtual-folder-docs/virtual-folder/users-guide" target="_blank">Documentation-User's Guide</a></li>
          </ul>
        </li>
        <instructmenu></instructmenu>
      </ul>
    </nav>
  </div>
</template>
