<template>
  <li class="nav-item"><a href="#/">Virtual Folder</a>
  <ul>
    <li class="nav-item"><a href="#/setting">Settings</a></li>
    <li class="nav-item"><a  href="#/filemanager">File Manager</a></li>
    <li class="nav-item"><a  href="#/filepicker">File Picker</a></li>
    <li class="nav-item" show.bind="!showuserinfo"><a href="/login">Login</a></li>
    <li class="nav-item" show.bind="showuserinfo"> ${userinfo.FirstName} ${userinfo.LastName}
    <ul>
      <li class="nav-item"><a href.bind="userinfo.AccountLink">User Account Info</a></li>
      <li class="nav-item"><a href.bind="userinfo.LogoutLink">Logout</a></li>
    </ul>
    </li>
  </ul>
  </li>
</template>
