.result-container{
  font-family: 'helvetica neue', arial, sans-serif;
  width: auto;
  /*border: solid 1px #b6b6b6;*/
  position: fixed;
  display: inline-block;
  background: #fff;
  z-index: 999;
  box-shadow: 0px -5px 21px -12px rgba(0, 0, 0, 0.2), 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  margin-top: 2px;
  margin-bottom: 20px;
  overflow-y: auto;
}

.result-card{
  margin: 5px;
  padding: 5px;
  border: solid 1px rgba(115, 179, 96, 5);
  width:250px;
  max-height: 370px;
  overflow-y: scroll; /*tomas changed */
  box-sizing: content-box !important;
  float:left;
}

.secondary-result-card-warpper{
  margin: 5px;
  padding: 5px;
  border: solid 1px rgba(115, 179, 96, 5);
  box-sizing: content-box !important;
}

.result-card-heading{
  box-sizing: content-box !important;
  border: 1px solid rgb(115, 179, 96);
  background: rgba(115, 179, 96, 1);
  color: #fff;
  height:20px;
  padding: 5px 10px;
  line-height:20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  flex-basis: auto !important;
}

.secondary-result-card-warpper .result-card-heading{
  flex-basis: auto !important;
}

.secondary-result-card-warpper .result-card-body{
  flex-basis: auto !important;
}

.result-card-footer{
  height:20px;
  padding: 5px 10px;
  line-height:20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-top: 1px dotted #999;
  text-align: right;
  font-size: 12px;
  font-weight: bold;
}

.secondar-result-card-item, .secondar-result-card-item:visited{
  width:250px;
  font-size: 11.5px;
  margin:5px;
  border: solid 1px rgba(115, 179, 96, 5);
  cursor: pointer;
  text-decoration: none;
  color: #232323;
}

.secondar-result-card-item:hover{
  text-decoration: none;
  background: rgba(115, 179, 96, 0.2);
}

.result-card-item, .result-card-item:visited{
  font-size: 11.5px;
  border-bottom: 1px dotted #999;
  cursor: pointer;
  text-decoration: none;
  color: #232323;
}

.result-card-item:hover{
  text-decoration: none;
  background: rgba(115, 179, 96, 0.2);
}

.result-card-item:last-child{
  border-bottom: none !important;
}

.result-card-item:first-child{
  margin-top:5px;
}

.result-card-item-label{
  float:left;
  width: 75%;
  text-align: left;
  height: 20px;
  line-height: 20px;
/*  padding: 5px 0px 5px 10px;*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.result-card-item-count{
  width: 25%;
  text-align: right;
  height: 20px;
  line-height: 20px;
  padding: 5px 5px 5px 0px;
}

.show-more-link, .show-more-link:visited{
  text-decoration: none;
  color:#000;
}

.show-more-link:hover{
  text-decoration: none;
  color: rgba(115, 179, 96, 1);
}

.result-card-item-count-heading{
  font-size: 12px;
  display: inline-block;
  float: right;
}

a.result-card-item-count-heading, a.result-card-item-count-heading:hover,
a.result-card-item-count-heading:active, a.result-card-item-count-heading:visited {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
}

.norecords-result-card{
  margin: 0 5px;
  padding: 5px;
  font-size: 14px;
  color: #666;
  width:250px;
}

.scrollbar-element{
  max-height:inherit;
}

.ps-container:hover>.ps-scrollbar-x-rail, .ps-container:hover>.ps-scrollbar-y-rail {
  opacity: 1 !important;
}
