[Unit]
Description=West-Life VirtualFolder MetadataService

[Service]
Type=simple
Environment=VF_VRE_API_URL=http://localhost/api/
Environment=VF_STORAGE_DIR=/srv/virtualfolder/
Environment=VF_ALLOW_FILESYSTEM=true
Environment=VF_ALLOW_MODULES=true
Environment=VF_ALLOW_LAB=true
Environment=VF_ALLOW_NOTEBOOK=true
Environment=VF_DATABASE_FILE=/home/vagrant/.westlife/metadata.sqlite
EnvironmentFile=/home/vagrant/.westlife/metadata.key
PIDFile=/var/run/westlife-metadata.pid
User=vagrant
ExecStart=/bin/mono /cvmfs/west-life.egi.eu/software/virtualfolder/latest/MetadataService/MetadataService.exe
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=westlife-metadata
WorkingDirectory=/srv/virtualfolder/

[Install]
WantedBy=multi-user.target
