[Unit]
Description=West-Life VirtualFolder MetadataService

[Service]
Type=simple
Environment=VF_VRE_API_URL=http://localhost/api/
Environment=VF_STORAGE_DIR=/home/vagrant/work
Environment=VF_ALLOW_FILESYSTEM=true
EnvironmentFile=/home/vagrant/.westlife/metadata.key
PIDFile=/var/run/westlife-metadata.pid
User=vagrant
ExecStart=/bin/mono /cvmfs/west-life.egi.eu/software/virtualfolder/latest/MetadataService/MetadataService.exe
WorkingDirectory=/home/vagrant/

[Install]
WantedBy=multi-user.target
