[Unit]
Description=West-Life VRE Service

[Service]
Type=simple
PIDFile=/var/run/westlife-vre.pid
User=vagrant
ExecStart="/opt/vre/rundevvre.sh"
WorkingDirectory=/opt/vre/latest
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=westlife-vre
[Install]
WantedBy=multi-user.target
