#!/usr/bin/env xdg-open
 
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=/home/vagrant/ccp4/coot.png
Exec=/home/vagrant/ccp4/bin/coot
Name[en_GB]=coot
Name=coot
Icon=/home/vagrant/ccp4/coot.png
Categories=Scientific