[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=webdesktop
Comment=Web as desktop
Exec=python /home/vagrant/src/pythonwebdesktop/pythonwebdesktop.py http://localhost &
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

